gFTP don't match wildcard domains in subjectAltName of TLS certificate

Hi

When I connect in explicit TLS an FTP using a domain name which is not the CN of the certificate, the connection failed:


Here is the TLS error:

```bash
$ gftp-text ftps://fbx.fbx.lan
Username [anonymous]: freebox
Password: 
Looking up fbx.fbx.lan
Trying fbx.fbx.lan:21 (192.168.100.254)
Connected to fbx.fbx.lan:21
220 Welcome to Freebox FTP Server.
AUTH TLS
234 Proceed with negotiation.
ERROR: The host in the SSL certificate (*.14rv.lan) does not match the host that we connected to
(fbx.fbx.lan). Aborting connection.
Disconnecting from site fbx.fbx.lan
ftp> 
```
*.14rv.lan is the CN of the certificate.

Having a deeper look at the certificate show that it contains a SubjectAlternativNames which match the domain fbx.fbx.lan :

```bash
$ echo Q|openssl s_client -starttls ftp -showcerts fbx.fbx.lan:21 2>/dev/null | sed '/-----BEGIN CERTIFICATE-----/,/-----END CERTIFICATE-----/!d' |openssl x509  -noout -text | grep DNS | tr "," "\n" | grep .fbx.lan
 DNS:fbx.lan
 DNS:*.fbx.lan
```

Could you please help ?

Thanks and kind regards
nbanba


Hi 

Except if I made a mistake, I haven't seen in `gftp` source code a part to get SubjectAlternativesNames from certificate during TLS transaction.

From RFC [4217#section-15.1.1](https://www.rfc-editor.org/rfc/rfc4217#section-15.1.1)

>  Although it is entirely an implementation decision, it is
     recommended that certificates used for server authentication of the
     TLS session contain the server identification information in a
     similar manner to those used for http servers (see [[RFC-2818](https://www.rfc-editor.org/rfc/rfc2818)]).


And from RFC [2818#section-3.1](https://www.rfc-editor.org/rfc/rfc2818#section-3.1)

> If a subjectAltName extension of type dNSName is present, that MUST
   be used as the identity. Otherwise, the (most specific) Common Name
   field in the Subject field of the certificate MUST be used. Although
   the use of the Common Name is existing practice, it is deprecated and
   Certification Authorities are encouraged to use the dNSName instead.

> Matching is performed using the matching rules specified by
   [[RFC2459](https://www.rfc-editor.org/rfc/rfc2459)].  If more than one identity of a given type is present in
   the certificate (e.g., more than one dNSName name, a match in any one
   of the set is considered acceptable.) Names may contain the wildcard
   character * which is considered to match any single domain name
   component or component fragment. E.g., *.a.com matches foo.a.com but
   not bar.foo.a.com. f*.com matches foo.com but not bar.com.



As an example I found that LibcURL does it the following way from line 979 to 1060: [ssluse.c](https://github.com/commontk/libcurl/blob/master/ssluse.c)


 ```c
static CURLcode verifyhost(struct connectdata *conn,
                           X509 *server_cert)
{
  bool matched = FALSE; /* no alternative match yet */
  int target = GEN_DNS; /* target type, GEN_DNS or GEN_IPADD */
  int addrlen = 0;
  struct SessionHandle *data = conn->data;
  STACK_OF(GENERAL_NAME) *altnames;
#ifdef ENABLE_IPV6
  struct in6_addr addr;
#else
  struct in_addr addr;
#endif
  CURLcode res = CURLE_OK;

#ifdef ENABLE_IPV6
  if(conn->bits.ipv6_ip &&
     Curl_inet_pton(AF_INET6, conn->host.name, &addr)) {
    target = GEN_IPADD;
    addrlen = sizeof(struct in6_addr);
  }
  else
#endif
    if(Curl_inet_pton(AF_INET, conn->host.name, &addr)) {
      target = GEN_IPADD;
      addrlen = sizeof(struct in_addr);
    }

  /* get a "list" of alternative names */
  altnames = X509_get_ext_d2i(server_cert, NID_subject_alt_name, NULL, NULL);

  if(altnames) {
    int numalts;
    int i;

    /* get amount of alternatives, RFC2459 claims there MUST be at least
       one, but we don't depend on it... */
    numalts = sk_GENERAL_NAME_num(altnames);

    /* loop through all alternatives while none has matched */
    for (i=0; (i<numalts) && !matched; i++) {
      /* get a handle to alternative name number i */
      const GENERAL_NAME *check = sk_GENERAL_NAME_value(altnames, i);

      /* only check alternatives of the same type the target is */
      if(check->type == target) {
        /* get data and length */
        const char *altptr = (char *)ASN1_STRING_data(check->d.ia5);
        int altlen;

        switch(target) {
        case GEN_DNS: /* name/pattern comparison */
          /* The OpenSSL man page explicitly says: "In general it cannot be
             assumed that the data returned by ASN1_STRING_data() is null
             terminated or does not contain embedded nulls." But also that
             "The actual format of the data will depend on the actual string
             type itself: for example for and IA5String the data will be ASCII"

             Gisle researched the OpenSSL sources:
             "I checked the 0.9.6 and 0.9.8 sources before my patch and
             it always 0-terminates an IA5String."
          */
          if (cert_hostcheck(altptr, conn->host.name))
            matched = TRUE;
          break;

        case GEN_IPADD: /* IP address comparison */
          /* compare alternative IP address if the data chunk is the same size
             our server IP address is */
          altlen = ASN1_STRING_length(check->d.ia5);
          if((altlen == addrlen) && !memcmp(altptr, &addr, altlen))
            matched = TRUE;
          break;
        }
      }
    }
    GENERAL_NAMES_free(altnames);
  }

  if(matched)
    /* an alternative name matched the server hostname */
    infof(data, "\t subjectAltName: %s matched\n", conn->host.dispname);
```

As recommended by RFC4217 + RFC218, could we expect such support will be added to `gftp` (SubjectAlternativNames support) ?

Thanks 

Kind regards
nbanba


Hi

I will try to solve this issue by submitting a pull request. 
I'm not developer please be indulgent with my C code (All code review / advices or comments are welcome, thanks...)

Kind regards 
nbanba 

Hi 

Issue had been solved by #187 

Kind regards
nbanba